body {
  background: red;
}
h1 {
  font-size: 36px;
  color: blue;
}
.singer-name {
  font-style: italic;
}
p {
  font-size: 14px;
}
.container {
  max-width: 280px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 30px;
}
